@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

html,
body {
  height: 100%;
  background-color: #ffebee;
  overflow: hidden;
}

.App {
  text-align: center;
}
